{% load static %}

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex align-items-center">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'timesheet' %}">
            <img src="{% static 'images/favicon.ico' %}" alt="ScheduleSystem Logo" width="50" height="50"
                 class="d-inline-block align-text-top ms-3">
            <span class="ms-3">ScheduleSystem</span>
        </a>

        {% if request.user.is_authenticated %}
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-link btn-primary" aria-current="page" href="{% url 'timesheet' %}">Расписание</a>
                    <a class="nav-link btn-primary" href="{% url 'news' %}">Новости</a>
                    <a class="nav-link btn-primary" href="{% url 'subjects_list' %}">Предметы</a>
                </div>
                <ul class="navbar-nav pe-5">
                    <li>
                        <span>Добро пожаловать </span>
                        <a href="{% url 'logout' %}">Выйти</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>