{% extends 'base.html' %}
{% load static %}

{% block title %}
    Предметы
{% endblock %}

{% block static %}
    <link href="{% static 'css/subjects_list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h3><i class="fa-regular fa-calendar-days"></i>Предметы</h3>
        <div class="d-flex justify-content-start">
            <div class="list-group d-flex flex-column w-25">

                {% for item in subjects %}
                    <a aria-current="true" href="{{ item.get_absolute_url }}" class="list-group-item mb-3"
                       style="background-image: url({{ item.image.url }})">
                        <b>{{ item.name }}</b><br>
                        {{ item.id_teacher }}
                    </a>
                {% endfor %}
            </div>

            <div class="card subject-detail ms-4 w-50">
                {% block subject_detail %}
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if subjects|length > 0 %}
                                Выберите занятие
                            {% else %}
                                Сегодня занятий нет
                            {% endif %}
                        </h5>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
