{% extends 'base.html' %}

{% block title %}
    Предметы
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center align-items-center">
            {% for item in subjects %}
                <div class="card p-0"
                     style="background-image: url({{ item.image_subject.url }}); background-size: 100%; background-color: rgba(0,0,0,.50); background-blend-mode: multiply;">
                    <a href="{{ item.get_absolute_url }}">
                        <div class="card-body w-100">
                            <div class="media">
                                <div class="media-body">
                                    <p>{{ item.name_subject }}</p>
                                    <p class="card-text">{{ item.id_teacher }}</p>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}