{% extends 'Schedule/base.html' %}

{% block title %}
    {{ news_item.title }}
{% endblock %}

{% block sidebar %}
    <div class="list-group">
        <a aria-current="true" href="{% url 'subjects_list' %}" class="list-group-item list-group-item-action">
            <i class="fa-solid fa-arrow-left-long"></i> назад
        </a>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h5 class="card-header"> {{ subjects_item.name_subject }}</h5>
        <div class="card-body">
            <h6><i class="fa-solid fa-chalkboard-user"></i> Преподаватель:</h6>
            <p class="card-text">{{ subjects_item.id_teacher }}</p>
            <h6><i class="fa-solid fa-book"></i> Количество часов:</h6>
            <p class="card-text"> {{ subjects_item.hours }}</p>
            <h6><i class="fa-solid fa-door-open"></i> Кабинет:</h6>
            <p class="card-text"> {{ subjects_item.num_cub }}</p>
            <h6><i class="fa-solid fa-pen"></i> Экзаменационная форма:</h6>
            <p class="card-text mb-5"> {{ subjects_item.exam_form }}</p>
        </div>
    </div>
{% endblock %}
