.container div.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container .row div.card {
    width: 35%;
    margin-right: 50px;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-style: none;
}

.container .row div.card-body {
    height: 150px;
}

.container .card a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
}