{% extends 'base.html' %}

{% block title %}
    {{ schedule.id_subject }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="card">
        <h5 class="card-header"> {{ schedule.id_subject }}</h5>
        <div class="card-body">
            <h6><i class="fa-solid fa-chalkboard-user"></i> Преподаватель:</h6>
            <p class="card-text">{{ schedule.id_subject.id_teacher }}</p>
            <h6><i class="fa-regular fa-clock"></i> Время занятия:</h6>
            <p class="card-text"> {{ schedule.id_lessons_time.time_lesson }}</p>
            <h6><i class="fa-solid fa-book"></i> Количество часов:</h6>
            <p class="card-text"> {{ schedule.id_lessons_time.time_lesson }}</p>
        <h6><i class="fa-solid fa-pen"></i> Экзаменационная форма:</h6>
            <p class="card-text mb-5"> {{ schedule.id_lessons_time.time_lesson }}</p>


            {% if attendance %}
                <button class="btn btn-sm btn-success attend-true" name="something">Вы отметились <i
                        class="fa-solid fa-check"></i>
                </button>
            {% elif canattend and subject_started %}
                <form method="post" id="myForm">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-sm btn-outline-success attend-wait" name="something">Я на паре
                    </button>
                </form>
            {% elif canattend %}
                <button class="btn btn-sm btn-outline-warning" name="something">Занятие пока не началось <i class="fa-solid fa-hourglass-start"></i></button>
            {% else %}
                <button class="btn btn-sm btn-danger attend-false" name="something">Вас не было на занятии
                </button>
            {% endif %}
        </div>
    </div>
{% endblock %}
