{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/subjects.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <title>Предметы</title>
</head>
<body>

{% include 'inc/_nav.html' %}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endif %}

            {% endfor %}
        {% endif %}
        {% for item in subjects %}
            <div class="card mb-3 p-0">
                <a href="{{ item.get_absolute_url }}">
                    <div class="card-body w-100">
                        <div class="media">
                            <div class="media-body">
                                <h5 class="card-title ">{{ item.name_subject }}</h5>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
        {% endfor %}

        <div class="w-75">
            {% if page_obj.has_other_pages %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item ">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
                                    Назад
                                </a>
                            </li>
                        {% endif %}

                        {% for p in page_obj.paginator.page_range %}
                            {% if page_obj.number == p %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?page={{ p }}">{{ p }}
                                        <span class="sr-only"></span></a>
                                </li>
                            {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item ">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    Дальше
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>

    </div>
</div>


<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" rel="stylesheet"></script>
<script src="https://kit.fontawesome.com/07906dadd2.js" crossorigin="anonymous"></script>

</body>
</html>