{% extends 'base.html' %}

{% block title %}
    {{ news_item.title }}
{% endblock %}

{% block content %}
        <div class="card mb-3">
            <div class="card-body">
                <div class="media">
                    <div class="media-body">
                        <h5 class="card-title ">{{ news_item.title }}</h5>
                        <p class="card-text">{{ news_item.content|safe|linebreaks|truncatewords:50 }}</p>
                    </div>
                </div>

            </div>
            <div class="card-footer text-muted">
                {{ news_item.created_at|date:"Y-m-d H:i" }}
            </div>
        </div>
{% endblock %}
